<!DOCTYPE html>
<html lang="{{ with site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
{{- partial "head.html" . -}}

<body>
  <style>
    body, html {
      height: 100%;
      display: grid;
      font-family: 'Poppins', sans-serif;
      color: #474747;
    }
    main {
      margin: auto;
      text-align: center;
    }
    a {
      margin: 5px;
      color: #474747;
      font-size: 20px;
    }
    img {
      margin-bottom: 60px;
    }
  </style>
  <main style="color: #474747;">
    <h1 style="font-size: 2em; font-weight: bold; color: #474747;">Hello! We are</h1>

    <p>
      <img
        src="https://lh3.googleusercontent.com/fife/ABSRlIpROdrDi-bCwlr7WSskblOof3mCjgbtDyYAUCacaMLAOLmgURxSkh21ZUwTP3QyyH_PRkJzswXeosVjz3E2XMPJmJba-x0vSgMGsVzybOYoe9lc6RIcUwOx-2S4rFPrzzrcAeftJVuU71ECGL8sMDoZqYqLfXm876BuAJKIy2_Rd_K2I6zFCQ-2ESgBsPsISAvEReYfNV1sFpbptvyNE91hh6gNJpaFROS8cPD--z9moic1DrFpyDhE3ZMFxE2-Vf88aUGRogSlrBh4S0yUimGwR7TqNjjMSWUoNQVtFP7dmvqSZtjFqp7toUazybK6NoGyAqI_MiXklPfjSHc0xWBU6TH6t-TZypC2PNxAoHLZQOiVVDsLPRCF21szqzrVjSFIXW0uMV1iyccoJoz7Fw3IYqfCFX8Yl2hH_WRDQ58ShYIrrFc3DoBENePgr6g9pYggVtEbXVAXoT0OZTwTPb3rIa4jKirg7irsmrGnfIrtUZa09Nfidxzrg0bmFzL2741pGOdyzY1L42yR4fhVIFfYriMowc3_cbvhrB8ap11mqvaZgKtfWIX7gj4iapd1w7dVWKWQT7yzMcaEzVN04EdaF3XMz9dSd7PCJwrhU2rPp1PdmQVAtMciDUnrRHG6ZF4iP7mA2U1iSlNinA9y-trj-50JfXCmv4YfJy8_wlZK_SoDLhMO0lXZeKR2eMcABMSSdfx2uOpH2XuMRlf969ScmmPnaYwWjq8=w960-h890-ft"
        width="400px"
      />
    </p>

    <p>
      Connect with us
      <a href="https://www.facebook.com/pawpantrymission">
        <i class="ti-facebook"></i>
      </a>
      <a href="https://www.instagram.com/pawpantrymission/">
        <i class="ti-instagram"></i>
      </a>
      <a href="mailto:hello@pawpantrymission.org">
        <i class="ti-email"></i>
      </a>
    </p>
  </main>
</body>